@import "../../../BaseScss/variables.scss";

.Button {
  border: none;
  background-color: $mainBlue;
  color: $mainWhite;
  text-decoration: none;
  padding: 0.75rem 1.2rem;
  font-size: 16px;
  border-radius: 10px;
  display: block;
  cursor: pointer;
  line-height: 20px;
  margin: 10px;
}

.Button:hover,
.Button:focus {
  opacity: 0.8;
}

.Projects {
  margin-right: 20px;
}
.PersonalProjects {
  border: 2px solid;
}
